@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Pridi:700');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f8f8f8;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
html {
	height: 100%;
}
li {
	list-style-type: none;
	display: inline-block;
	margin: 5px;
}

.resume-container {
	height: 100%;
	margin: 20px;
}
.resume-name {
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	color: rgb(48, 47, 47);
}

.resume-text {
	font-family: 'Source Code Pro', monospace;
	color: rgb(48, 47, 47);
}
/* .blue {
	color: rgb(42, 233, 173);
} */
.titles {
	font-family: 'Oswald', sans-serif;
}
.nav-container {
	text-align: center;
	font-family: 'Source Code Pro', monospace;
	/* margin-top: 100px; */
}

@media only screen and (min-width: 479px) {
	.nav-container {
		margin-top: 100px;
	}
}

.unstyled-list {
	padding-inline-start: 0;
}
.name {
	font-family: 'Oswald', sans-serif;
	font-size: 70px;
	margin: 0;
	color: rgb(82, 82, 82);
}

.line {
	border: 1px solid black;
}

.icons {
	position: relative;
	transition: all 200ms ease-in;
	transform: scale(1);
	margin: 20px;
	color: rgb(110, 233, 221);
	/* background-color: rgb(198, 192, 193); */
	padding: 10px;
	border-radius: 500px;
}
.icons:hover {
	transform: scale(1.5);
}

.project-wrapper {
	margin: 50px;
	padding: 20px;
}

.project {
	margin: 10px;
	padding: 10px;
	font-family: 'Source Code Pro', monospace;
	border-bottom: 1px solid rgb(230, 229, 229);
	padding-bottom: 40px;
}

.projects-title {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	letter-spacing: 5px;
}
.back-button {
	font-family: 'Oswald', sans-serif;
	color: royalblue;
}
.name-box {
	padding: 10px;
	width: 90%;
	max-width: 960px;
	/* border: 1px solid rgb(238, 237, 237); */
	margin: 0 auto;
	background: linear-gradient(to bottom left, rgba(226, 236, 240, 0.79) 50%, rgba(250, 240, 244, 0.762) 50%);
}

@media only screen and (max-width: 479px) {
	.name-box {
		width: 90%;
	}
}

.career-title {
	width: 50%;
	margin: auto;
	padding: 4px;
	border: 1px solid rgb(216, 215, 215);
}
.nav-title {
	margin: auto;
	font-size: 15px;
	color: grey;
}

.gallery-wrapper {
	overflow: auto;
	min-height: 1px;
	width: 100%;
	display: block;
}
.project-img {
	width: 50px !important;
}
img {
	height: 100px !important;
	max-width: 200px;
	margin: 5px;
}
.ReactGridGallery_tile-viewport {
	background-color: #f8f8f8;
	height: 100px !important;
}
